@charset "utf-8";

/* HTML Styles */

html {
    background-image: url(tb_back5.png);
}



/* Page Body Styles */

body {
    border-left-width: 3px;
    border-right-width: 3px;
    border-style: solid;
    border-color: rgb(169, 130, 88);
    box-shadow: rgb(53, 21, 0) 25px 0px 35px,
                rgb(53, 21, 0) -25px 0px 35px;
}



/* Main Styles */

main {
    background-image: url(tb_back7.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-origin: padding-box;
    box-shadow: inset rgb(71, 71, 71) -10px -10px 25px,
                inset rgb(71, 71, 71) 10px 10px 25px;
}

main header h1 {
    text-shadow: rgb(221, 221, 221) 1px 1px 0px,
                 rgba(41, 41, 41, 0.9) 5px 5px 20px;
}



/* Figure Box Styles */

figure {
    margin: 10px auto;
    width: 70%;
}

figure img {
    border-width: 25px;
    border-style: solid;
    border-image: url(tb_frame.png) 60 stretch;
    display: block;
    width: 100%;
    filter: sepia(0.8);
}

figure figcaption {
    font-family: 'Palatino Linotype', Palatino, 'Times New Roman', serif;
    font-style: italic;
    padding: 10px 0px;
    text-align: center;
}



/* Article Styles */

article {
    background-image: url(tb_back6.png);
    background-position: right bottom;
    background-size: 15%;
    background-repeat: no-repeat;

    border-right: 8px double rgb(147, 116, 68);
    border-bottom: 8px double rgb(147, 116, 68);
    border-bottom-right-radius: 80px;
    box-shadow: inset rgba(184, 154, 112, 0.7) -10px -10px 25px;
}



/* Footer Styles */

footer {
    background: linear-gradient(325deg, rgb(180, 148, 104) 20%, rgb(40, 33, 23) 60%);
}

