@charset "utf-8";

/* Import Basic Design Styles Used on All Screens */

@import url("gp_designs.css");

/* Flex Layout Styles */

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section#sheet {
    flex-basis: 301px;
    flex-grow: 3;
    flex-shrink: 1;
}

section#sheet {
    flex-basis: 180px;
    flex-grow: 1;
    flex-shrink: 3;
}

/* ============================================
	Mobile Devices: 0 - 480 pixels
   ============================================
*/

@media only screen and (max-width: 480px) {
    img.panel {
        width: 100%;
    }

    nav.horizontal {
        order: 99;
    }

    body > footer {
        order: 100;
        background-color: black;
    }
}




/* ===================================================
	Tablet and Desktop Devices: Greater than 480 pixels
   ===================================================
*/

@media screen and (min-width: 481px) {
    nav.horizontal ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 40px;
    }

    nav.horizontal ul li {
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;
    }

    img.size1 {
        width: 100%;
    }

    img.size2 {
        width: 60%;
    }

    img.size3 {
        width: 40%;
    }

    img.size4 {
        width: 30%;
    }
}

