@charset "utf-8";

/* ================
   Base Flex Styles
   ================
*/

/* Превращаем body в флексбокс */
body {
    display: flex;
    /* Флексбокс ориентирован по горизонтали с переносом элементов на следующую строку. */
    flex-flow: row wrap;
}

header, footer {
    width: 100%;
}

aside {
    flex-basis: 120px;
    flex-grow: 1;
    flex-shrink: 1;
}

section#main {
    flex-basis: 361px;
    flex-grow: 3;
    flex-shrink: 1;
}

section#topics {
    display: flex;
    flex-flow: row wrap;
}

section#topics article {
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1;
}



/* =========================
   Mobile Styles: 0 to 480px 
   =========================
*/

@media only screen and (max-width: 480px) {
    aside {
        order: 99;
    }

    footer {
        order: 100;
    }
}

/* ============================================
   Tablet and Desktop Styles: 481px and greater 
   ============================================
*/

@media only screen and (min-width: 481px) {
    nav.horizontal ul {
        display: flex;
        flex-flow: row nowrap;
    }

    nav.horizontal li {
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;
    }
}
