@charset "utf-8";

/* Column Styles */

@media only screen and (min-width: 641px) {
    p {
        column-count: 3;
        column-gap: 20px;
        column-rule: 1px solid black;
    }
}
